.TrendingContainer{
    @apply w-full
}
.TrendingContent{
    @apply flex flex-col w-full justify-center
    md:flex-row
}
.TrendingLeft{
    @apply flex flex-col w-full relative
    md:w-1/2
}
.TrendingRight{
    @apply flex flex-col w-full justify-center px-6 mt-10 items-center z-20
    md:w-1/2 md:mt-0 md:px-2
}
.TrendingImg{
    @apply w-[80%]
}
.AirJordan{
    @apply absolute -top-12 left-0 w-full h-full
    lg:-top-16 lg:left-10 lg:w-[90%] lg:h-auto
    md:-top-12 md:left-10 md:w-[90%] md:h-auto
}

.TrendingTitle{
    font-family: Franchise;
    @apply text-7xl font-bold text-black
}
.TrendingDesc{
    @apply text-xl text-black font-bold mt-10 w-full
    xl:w-[80%]

}