.App {
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),url("assets/papelbgHero.png");
  text-align: center;
  background-color: #F5F5F5;
  @apply bg-cover bg-center bg-no-repeat flex flex-col w-full
}
@font-face{
  font-family:'Franchise';
  font-family:'FranchiseBold';
  src:url('fonts/Franchise.ttf');
  src:url('fonts/FranchiseFilled.ttf');
}